*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    flex: 1 0 200px;
}

.one {
    background-color: rgb(228, 150, 217);
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}